html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #FFEFFB;
  margin: 0;
  padding: 0;
  font-family: 'Rockwell', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

header {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

b {
   display: block;
   padding:10px 20px;
   float: left;
   text-decoration: none;
}

li {
  
  display: block;
  padding:10px 25px;
  float: right;
}

li:hover { 
text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #C4305A;
}

img {
  border-radius: 20px;
  width: 800px;
  object-fit: cover;
  text-align: center;
  padding: 20px 10px;
} 

.work {
  width: 200px; 
}

.work:hover {
	
}

.column {
  width:33.3% 
}

.row {
  display: flex;
}
.content-wrap {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 60px;
  text-align: center;
}


.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align:right;
  font-size: 16px;
} 