/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #FCE8FC;
  margin: 0;
  padding: 0;
  font-family: 'Rockwell', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

header {
  color: white;
}


a {
  color: white;
  text-decoration: none;
}

b {
   display: block;
   padding:10px 20px;
   float: left;
   text-decoration: none;
}

p{ 
color: white;
width: 85%
}

h2{
	color:white;
	 text-shadow: 0 0 3px pink;
	text-align: left;
}

li {
  
  display: block;
  padding:10px 25px;
  float: right;
}

li:hover { 
text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A12C3F;
}

div.a {
  color: white;
} 

.background {
  background-repeat: repeat-xy;	
  background-image: url('grid.png');
  background-position: top;   
  text-align: center;
}

.content-wrap {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 262px 20px;
}

.projects .btn {
  color: #9A293B;
  background: #FCE8FC;
  text-decoration: none;
  padding: 5px 30px;
  border-radius: 4px;
  display: inline-block;
  position: absolute;
  bottom: 80px;
  text-align: center;
  
}

.work { 
  color: grey;
  padding: 90px 20px;
  text-align: center;
}

.experience {
	
  color: grey;
  padding: 90px 20px;
  text-align: center;
}

.column {
  flex: 50%;
}

.column1 {
	width: 70%
}

.column2 {
	width: 30%
}
	
.row {
 display: flex;
}

img {
  border-radius: 20px;
  width: 320px;
  height: 70%;
  object-fit: cover;
  text-align: center;
  padding: 20px 10px;
} 
 
 
.project-item {	
  background: #F8809A;
  padding: 30px;
  margin:0;
  overflow: hidden;
  text-align: left;
  
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align:right;
  font-size: 16px;
} 



